:root {
  --fontTexto: "Raleway", sans-serif;
  --fontHeading: "Staatliches", cursive;

  /** Colores **/
  --azul: #00487c;
  --rojo: #a01c48;
  --naranja: #f58549;
  --amarillo: #eca400;
  --verde: rgb(20, 131, 20);

  /** gris **/
  --gris: #969696;
  --grisOscuro: #707070;
  --grisClaro: rgb(243, 243, 243);
}
body {
  background-color: var(--grisClaro);
  font-size: 1.6rem;
  font-family: var(--fontTexto);
  width: 100%;
  
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  font-family: var(--fontTexto);
  color: black;
  text-decoration: none;
  outline: none;
  background-color: #ff4000;
}
/** GLOBALES **/
h1 {
  font-family: var(--fontHeading);
}
h2 {
  font-family: var(--fontTexto);
  color: var(--grisOscuro);
  font-size: 3rem;
}
.contenedor {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

/**user **/

.user {
  display: block;
  margin-right: 10rem;
  width: 50%;
  line-height: 46px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
  position: relative;
}

/** BOTONES **/
.btn-block {
  display: block !important;
  flex: 1 0 100% !important;
  width: 100% !important;
}
.btn {
  padding: 2rem;
  text-align: center;
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  font-family: var(--fontTexto);
  border: none;
  flex: 0 0 0 100%;
  width: 100%;
}
.btn:hover {
  cursor: pointer;
}
@media (min-width: 768px) {
  .btn {
    display: inline-block;
    flex: 0 0 auto;
    width: auto;
  }
}
.btn i {
  margin-right: 1rem;
}
.btn-azul {
  background-color: var(--azul);
}
.btn-rojo {
  background-color: var(--rojo);
  width: 100px;
  height: 50px;
}
.btn-naranja {
  background-color: var(--naranja);
}
.btn-amarillo {
  background-color: var(--amarillo);
}
.btn-verde {
  background-color: var(--verde);
  width: 100%;
}
.btn:disabled {
  opacity: 0.4;
}
.nvo-cliente {
  padding: 2rem 4rem;
  width: auto;
}
.btn-eliminar {
  margin-left: 0rem;
  margin-top: 1rem;
  font-family: "Font Awesome 5 Free", Arial, Helvetica, sans-serif;
  font-weight: 900;
}
/** GRID **/
@media (min-width: 768px) {
  .grid {
    display: flex;
    justify-content: space-between;
  }
  .col-3 {
    flex: 0 0 calc(25% - 1rem);
  }
  .col-9 {
    flex: 1 0 calc(75% - 1rem);
  }
}
.barra {
  background-color: #ff4000;
  padding: 1rem 0;
  width: 100%;
  position:relative;
  margin-top: 0;
}
.barra h1 {
  margin: 0;
  margin-left: -5rem;
  color: white;
  font-size: 40px;
}
.contenido-barra {
  text-align: center;
}
.contenido-barra button {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .contenido-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .contenido-barra button {
    margin: 0;
  }
}
.contenido-principal {
  margin-top: 4rem;
}


/** Caja **/

h2.headertekst {
  text-align: center;
}

@media (max-width: 767px) {
  .caja-contenido {
    margin-top: 5rem;
  }
}
.caja-contenido {
  background-color: white;
  padding: 2rem 3rem;
  min-height: 82rem;
  -webkit-box-shadow: 0px 7px 6px -5px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0px 7px 6px -5px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 7px 6px -5px rgba(0, 0, 0, 0.36);
  border-radius: 1rem;
}



.acciones form {
  width: 100%;
}
.acciones .btn {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}


/** Formulario **/
form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.enviar {
  margin-top: -5rem;
  display: flex;
  justify-content: flex-end;
}

.enviar-btn-azul {
  display: flex;
  justify-content: flex-end;
}


.fa-minus,
.fa-plus {
  color: white;
}
.fa-minus:hover,
.fa-plus:hover {
  cursor: pointer;
}

/** AJUSTES SWEETALERT**/
.swal2-popup .swal2-title {
  font-size: 3rem !important;
}
.swal2-popup #swal2-content {
  font-size: 2rem;
}
.swal2-confirm,
.swal2-cancel {
  font-size: 2rem !important;
  padding: 1rem 3rem;
}
.swal2-popup.swal2-modal {
  padding: 4rem;
  width: 60rem;
}


:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type="text"] {
  font-size: 18px;
  margin: 5px;
  margin-left: 0rem;
  padding: 0 10px;
  width: 244px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type="password"]{
  padding: 0 10px;
  font-size: 27px;
  width: 32rem;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}


.lt-ie9 input[type="text"],
.lt-ie9 input[type="password"] {
  line-height: 34px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

/**13*/
.btn-13 {
  background: #ff4000;
  width: 32rem;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  text-align: center;
  margin-left: 14rem;
  font-size: 1.5rem;
}

/* 3 */
.btn-3 {
  background: #ff4000;
  width: 25rem;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  text-align: center;
  margin-left: 14rem;
  font-size: 1.5rem;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}




button {
  font-size: 20rem;
  font-weight: 900;
  border: none;
  border-radius: 3px;
  padding: 0.3rem 5rem;
  margin-left: 1rem;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.navbar .nav .btn-primary,
.navbar .nav .btn-primary:active {
  padding-top: 8px;
  padding-bottom: 6px;
  vertical-align: middle;
  border: none;
  background-color: #ff4000;
}

.navbar .navbar-right li:first-child a {
  padding-right: 30px;
}
.navbar ul li i {
  font-size: 18px;
}
.navbar .dropdown-menu i {
  font-size: 18px;
  min-width: 25px;
}
.navbar ul.nav li.active a,
.navbar ul.nav li.open > a {
  background: transparent !important;
}
.navbar .nav .get-started-btn {
  min-width: 120px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.navbar ul.nav li.open > a.get-started-btn {
  color: #fff;
  background: #31bfb1 !important;
}
.navbar .dropdown-menu {
  border-radius: 1px;
  border-color: #e5e5e5;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}
.navbar .nav .dropdown-menu li {
  color: #999;
  font-weight: normal;
}
.navbar .nav .dropdown-menu li a,
.navbar .nav .dropdown-menu li a:hover,
.navbar .nav .dropdown-menu li a:focus {
  padding: 8px 20px;
  line-height: normal;
}
.navbar .navbar-form {
  border: none;
}
.navbar .dropdown-menu.form-wrapper {
  width: 280px;
  padding: 20px;
  align-items: center;
  font-size: 14px;
}
.navbar .dropdown-menu.form-wrapper a {
  color: #33cabb;
  padding: 0 !important;
}
.navbar .dropdown-menu.form-wrapper a:hover {
  text-decoration: underline;
}
.navbar .form-wrapper .hint-text {
  text-align: center;
  margin-bottom: 15px;
  font-size: 13px;
}
.navbar .form-wrapper .social-btn .btn,
.navbar .form-wrapper .social-btn .btn:hover {
  color: #fff;
  margin: 0;
  padding: 0 !important;
  font-size: 13px;
  border: none;
  transition: all 0.4s;
  text-align: center;
  line-height: 34px;
  width: 47%;
  text-decoration: none;
}
.navbar .social-btn .btn-primary {
  background: #507cc0;
}
.navbar .social-btn .btn-primary:hover {
  background: #4676bd;
}
.navbar .social-btn .btn-info {
  background: #64ccf1;
}
.navbar .social-btn .btn-info:hover {
  background: #4ec7ef;
}
.navbar .social-btn .btn i {
  margin-right: 5px;
  font-size: 16px;
  position: relative;
  top: 2px;
}
.navbar .form-wrapper .form-footer {
  text-align: center;
  padding-top: 10px;
  font-size: 13px;
}
.navbar .form-wrapper .form-footer a:hover {
  text-decoration: underline;
}
.navbar .form-wrapper .checkbox-inline input {
  margin-top: 3px;
}
.or-seperator {
  margin-top: 32px;
  text-align: center;
  border-top: 1px solid #e0e0e0;
}
.or-seperator b {
  color: #666;
  padding: 0 8px;
  width: 30px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  line-height: 26px;
  background: #fff;
  display: inline-block;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  position: relative;
  top: -15px;
  z-index: 1;
}
.navbar .checkbox-inline {
  font-size: 13px;
}

.dropdown-toggle {
  border-radius: 50%;
  background-color: #ff4000;
}

.navbar .navbar-right .dropdown-toggle::after {
  display: none;
  background-color: #ff4000;
}
@media (min-width: 1200px) {
  .form-inline .input-group {
    width: 300px;
    margin-left: 30px;
  }
}
@media (max-width: 768px) {
  .navbar .dropdown-menu.form-wrapper {
    width: 100%;
    padding: 10px 15px;
    background: transparent;
    border: none;
  }
  .navbar .form-inline {
    display: block;
  }
  .navbar .input-group {
    width: 100%;
  }
  .navbar .nav .btn-primary,
  .navbar .nav .btn-primary:active {
    display: block;

    background-color: #ff4000;
  }
}

.dropdown-final {
  background-color: #ff4000;
  color: white;
}

.dropdown-menu {
  height: 350px;
  width: 360px;
}

.form-group {
  text-align: left;
}

.dropdown-menu-center {
  left: 50% !important;
  right: auto !important;
  text-align: center !important;
  transform: translate(-50%, 0) !important;
}

.fa-user {
  margin-left: 1rem;
}



.bg-dark {
  padding: 1rem;
  background-color: rgb(235, 195, 64);
  bottom: 0;
  left: 0;
  width: 100%;
}

.text-center {
  
  margin-top: 1rem;
  font-size: 18px;
}

.copy {
  margin-left: 80rem;
}

.climatitle {
  border-bottom: 3px solid #ff4000;
  text-align: center;
  font-size: 40px;
  text-decoration: black;
  margin-bottom: 5rem;
}

.cardClimaDatos {
  height: 55rem;
  width: 68rem;
}

.cardClimaDatosSubtitle {
  color: #252850;
  width: 60rem;
  margin-left: 5rem;
  margin-top: 2rem;
  font-size: 30px;
  text-align: center;
  border-bottom: 3px solid black;
}

input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #ff4000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ciudad {
  font-size: 25px;
  margin-right: 48rem;
}

.pais {
  font-size: 25px;
  margin-right: 50rem;
}

.usuarioLogin{
  font-size: 20px;
  text-align: left;
}

.passwordLogin{
  font-size: 20px;
  text-align: left;
}

.today-section-zone{
  text-align: left;
  margin-left: 4rem;
  font-size: 20px;
  color: #000;
  color: rgba(0, 0, 0, 0.4);
  font-family: Arial, sans-serif;
}

.today-section-zone .description{
  color: black;
}

.today-section-weather{
  text-align: left;
  margin-left: 4rem;
}

.weather-info{
  width: 45%;
}

.today-section-icon{
  width: 100%;
  text-align: right;
  margin-right: 2rem;
  
}

.img{
  line-height: 0;
  font-size: 0;
  margin-top: -3rem;
  margin-left: 30rem;
  height:39%;
  width: 40%;
}


.img-box img{
    display: block;
    vertical-align: bottom;
    visibility: hidden;
}
.city{
  font-size: 25px;
}

.fecha{
  width: 100%;
  margin-right: 8rem;
  text-align: left;
  font-size: 30px;
}
.description{
  margin-top: -15rem;
  width: 40%;
}

.weather-des{
  text-align: left;
  font-size: 25px;
}

.temp-celcius{
    display: block;
    font-size: 6rem;
    font-weight: 900;
    background: -webkit-linear-gradient(#eef4fe, #c0dbff);
    -webkit-background-clip: text;
}

.temp-fahrenheit{
    margin-top: 4rem;
    font-weight: 500;
    display: block;
    font-size: 3rem;
    background: -webkit-linear-gradient(#eef4fe, #c0dbff);
    -webkit-background-clip: text;
}

.temp{
  margin-left: 4rem;
  margin-top: 4rem;
  text-align: left;
}

.ave-tempt{
  text-align: right;
  margin-left: 38rem;
  margin-top: -11rem;
  display: block;
  font-weight: 500;
  font-size: 2rem;
}

@media (max-width: 1280px ) and (min-width: 200px) {
.text-center {
  margin-top: 8rem;
}
.card2 {
  margin-top: 63rem;
  margin-left: -48rem;
  }
}

@media (min-width: 1320px ){
.card2 {
  width: 50%;
  margin-left: 2rem;
  }
}

@media (max-width: 1320px ) and (min-width: 1290px) {
.text-center {
  margin-top: 1rem;

}
}

.footer{
  position: absolute;
}
@media (max-width: 1320px ) and (min-width: 1250px) {
.footer {
    padding-top: 1rem;
    padding-bottom: -5rem;
    height: 90px;
   }
  .footer-text{
    margin-top: 0rem;
  }
}

@media (max-width: 1249px ) and (min-width: 1024px) {
  .footer {
      padding-top: 1rem;
      padding-bottom: -5rem;
      height: 90px;
     }
    .footer-text{
      margin-top: 0rem;
    }
  }

.card1 {
  margin-left: -2rem;
}
